{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}

{% block body %}
	<header class="text-center py-8">
		<h1 class="text-3xl font-semibold">{{ pageTitle ?? '' }}</h1>
		<p class="text-xs mt-2 text-emerald-600">
			{{ pageSubtitle ?? '' }}
		</p>
	</header>

    {{ form_errors(todoForm) }}

	<div class="w-full p-2 rounded-md">
		{{ form_start(todoForm) }}
		{{ form_row(todoForm.name) }}
		{{ form_row(todoForm.category) }}
		<div id="tasks" data-prototype="{{ form_widget(todoForm.tasks.vars.prototype)|e('html_attr') }}">
			{% for task in todoForm.tasks %}
				<div class="task-item">
					{{ form_row(task) }}
				</div>
			{% endfor %}
		</div>
		<button type="button" class="add-task flex gap-2 items-center text-xs py-2" data-target="#tasks">
            {{ ux_icon('lineicons:plus-circle', { class: 'h-4'}) }}
            Ajouter une tâche
        </button>
        <div class="flex items-center gap-2 my-3">
            <p class="text-xs">Rendre la liste publique ?</p>
            <label class="checkbox relative inline-block w-8 h-4 shadow-inner rounded-full cursor-pointer">
                {{ form_label(todoForm.is_public) }}
                {{ form_widget(todoForm.is_public, {'attr': {'class': 'peer hidden'}}) }}
                <span class="block w-full h-full bg-gray-300 rounded-full cursor-pointer transition-colors duration-300 peer-checked:bg-emerald-500 shadow"></span>
                <span class="absolute left-0 top-0 w-4 h-4 bg-white rounded-full transition-transform duration-300 peer-checked:translate-x-4"></span>
            </div>
        </div>
		{{ form_row(todoForm.submit) }}
		{{ form_end(todoForm) }}
	</div>
{% endblock %}
